<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ctgu.lovelypetplatform.mapper.GoodsMapepr">
    <select id="selectAllGoods" resultType="Goods">
        select *
      from `goods`
    </select>
    <select id="selectGoodsByMultipleParameter" resultType="Goods" parameterType="Goods">
        select *
        from `goods`
        where good_num is not null
        <if test="detailClassifyname != null">
            and detail_classifyname like CONCAT('%', #{detailClassifyname}, '%')
        </if>
        <if test="summaryClassifyname != null ">
             and summary_classifyname like CONCAT('%', #{summaryClassifyname}, '%')
        </if>
        <if test="description != null">
            and description like CONCAT('%', #{description}, '%')
        </if>
    </select>
</mapper>