<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ctgu.lovelypetplatform.mapper.GoodsMapepr">
    <select id="selectAllGoods" resultType="Goods">
        select *
      from `goods`
    </select>
    <select id="selectGoodsByMultipleParameter" resultType="Goods" parameterType="Goods">
        select *
        from `goods`
        where good_num is not null
        <if test="goodNum != null">
            and good_num = #{goodNum}
        </if>
        <if test="detailClassifyname != null">
            and detail_classifyname like CONCAT('%', #{detailClassifyname}, '%')
        </if>
        <if test="summaryClassifyname != null ">
             and summary_classifyname like CONCAT('%', #{summaryClassifyname}, '%')
        </if>
        <if test="description != null">
            and description like CONCAT('%', #{description}, '%')
        </if>
    </select>

    <insert id="insertGoods" keyProperty="id" useGeneratedKeys="true" parameterType="Goods">
        insert into goods(description,price,summary_classifyname,detail_classifyname,pic1,pic2,pic3,state,owner,star_count,pur_comment)
        values(#{description},#{price},#{summaryClassifyname},#{detailClassifyname},#{pic1},#{pic2},#{pic3},#{state},#{owner},#{starCount},#{purComment})
    </insert>

    <update id="updateGoods" parameterType="Goods">
        update goods set
        description=#{description},
        price=#{price},
        summary_classifyname=#{summaryClassifyname},
        detail_classifyname=#{detailClassifyname},
        pic1=#{pic1},
        pic2=#{pic2},
        pic3=#{pic3},
 <!--       state=#{state},
        owner=#{owner},
        star_count=#{starCount},
        pur_comment=#{purComment}
        -->
        where good_num = #{goodNum}
    </update>

</mapper>